
 body{
    background-color: rgba(163,255,220,1);
background-color: -moz-linear-gradient(top, rgba(163,255,220,1) 0%, rgba(23,176,166,1) 100%);
background-color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(163,255,220,1)), color-stop(100%, rgba(23,176,166,1)));
background-color: -webkit-linear-gradient(top, rgba(163,255,220,1) 0%, rgba(23,176,166,1) 100%);
background-color: -o-linear-gradient(top, rgba(163,255,220,1) 0%, rgba(23,176,166,1) 100%);
background-color: -ms-linear-gradient(top, rgba(163,255,220,1) 0%, rgba(23,176,166,1) 100%);
background-color:  linear-gradient(to bottom, rgba(163,255,220,1) 0%, rgba(23,176,166,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3ffdc', endColorstr='#17b0a6', GradientType=0 ); 
background-repeat: none;
background-size: cover;
  font-family: 'Caviar Dreams';
}
a{
     text-decoration: none;
    }

#but {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index:100;
  
}

#logo{
  position: relative;
  left: -350px;
  margin: 0 auto;
  background-image: url(../img/logo.png) ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: 100;

}

#buscador {
  float: left;
  position: relative;
  left: -350px;
  top: -100px;
  font-family: 'Caviar Dreams'
  border: thin solid #333;
  border-radius: 20px 0px 0px 20px;
  width: 350px;
  height: 30px;
  padding:5px; 
  margin-top: 15px;
  margin-left: 55%;

}
#buscar {
position: relative;
top: -100px;
left: -428px;
background-image: url("../img/ico-buscador.png");
background-size: 20px;
background-repeat: no-repeat;
background-position: center;
background-color: white;
height: 43px;
width: 30px;
border-radius: 0px 20px 20px 0px;
margin-left: -83px;
margin-top: 15px ;


}

#login { 

  position: relative;
  left: -300px;
  top: -100px;
  float: left;
  height: 50px;

}

#login ul li {
  float: left;
  padding-left: 20px;
  padding-top: 30px;
}
#login ul li a{
text-decoration: none;
color:black;
}

#cap {
  background-image: url(../img/web/perfil_portada.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 750px;
  width: 100%;
}
#cap img{
	height: 250px;
	margin-top: 200px;
}
#cap p {
  font-size: 30px;
}


#cap h1{
	margin-top: 10px;
	font-size: 35px;
}
#menu2 {
	background-color: white;
	height: 50px;
	margin-bottom: 5px;

}
#menu2 ul {
	margin-left: -85px;
}
#menu2 ul li {

	float:left;
	margin: 0 auto;
	list-style: none;
	padding-left: 120px;
	padding-top: 15px;

}

#menu2 ul li a{
	text-decoration: none;
  color:black;
	text-align: center;

}

#cos div{ 
  float: left;
  height: 300px;
  width: 300px; 
  background-color: black;
  margin: 10px;
}


#biografia, #fotos {

  margin-top: 100px;
  margin-bottom: 100px;
}

#biografia h1, #fotos h1{

  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;

}


#peu{
  height: 300px;
  margin-top: 70px;

}
#peu h1 {
  margin-bottom: 20px;
}

#peu div{
    float: left;
    width: 300px;
    margin-right: 10px;
}

#peu #contacto{
  margin-left: 0px;
}

#siguenos{
  float: left;
  margin-left: -20px;
  text-align: right;
}
#siguenos img{
  height: 60px;
  margin-bottom: 20px;
}

    #menuh {
    	position: fixed;
    	z-index: 300;
    }
    #menuh img{
    	margin-left: 30%;
    	height: 80px;

    }

    #menuh p {
    	text-align: right;
    	margin-right: 10px;
        margin-bottom: 50px;
    }
    .nav {
      position:absolute;
      width:200px;
      height:100vh;
      top:0;
      left: -220px; 
      padding-top:47px;
      background-color: white;
      border-right:4px solid rgba(49, 183, 188, 1);
      transition:all .5s ease; 
      z-index: 100;
    }
       /*Estilos de los li del menú*/
       .nav__item {
         display:block;
         width:96%;
         margin:0 auto;
         line-height:2;
         position:relative; /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
         background-color:transparent;
         font-family: 'Caviar Dreams';
         text-align:center;
         font-size: 20px;
         color:black;
       }

      /*Estos son los estilos de la hamburguesa del menú que abre y cierra el mismo*/
      .menu-toogle {
        position:absolute; /*Lo posicionamos absolutamente para poder darle una posición y poder moverlo según el menú esté abierto o cerrado*/
        width: 35px;
        line-height:1.1;
        text-align:center;
        top: 5px; /*Le damos una posición top y left en donde queramos que se encuentre la hamburguesa del menú*/
        left: 8px; 
        border-radius:3px;
        background-color: rgba(49, 183, 188, 1);
        transition: all .5s ease; /*Añadimos una transición para que realice un desplazamineto suave*/
       
      }
        /*Añadimos la haburguesa y le damos unos estilos*/
        .menu-toogle::before {
          content:"☰";
          font-size:32px;
          color:white;
        }


        /*Estos son los estilos que le dan la funcionalidad al menú*/
        /*El checkbox según esté activado o no hará que el menú aparezca o desaparezca*/
        .checkbox {
          display:none; /*Ocultamos el checkbox pues no nos interesa que se vea*/
        }
        .checkbox:checked ~ .nav {
          left:0px; /*Le quitamos el left negativo para que el menú vuelva a su posición original*/
          position:fixed; /* Fijamos el menú lateral para que se desplace cuando hagamos scroll*/
        }
        .checkbox:checked ~ .main-w {
          margin-left:200px; /*Cuando el checkbox asigna un margen al contenedor principal para que se desplace junto con el menú*/
        }
        .checkbox:checked ~ .menu-toogle { 
          left:208px;
          position:fixed; /*Fijamos la hamburgues para que se desplace junto con el menú*/
        }
}






