#portada_rock{
  background-image: url(../img/web/portadas/portada_rock.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

#portada_jazz{
  background-image: url(../img/web/portadas/portada_jazz.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

#portada_pop{
  background-image: url(../img/web/portadas/portada_pop.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

#portada_heavy{
  background-image: url(../img/web/portadas/portada_heavy.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

#portada_house{
  background-image: url(../img/web/portadas/portada_house.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

#portada_reggae{
  background-image: url(../img/web/portadas/portada_reggae.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

#portada_monologos{
  background-image: url(../img/web/portadas/portada_monologos.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}
#portada_teatro{
  background-image: url(../img/web/portadas/portada_teatro.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}
#portada_magia{
  background-image: url(../img/web/portadas/portada_magia.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}
#portada_acrobacias{
  background-image: url(../img/web/portadas/portada_acrobacias.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}
#portada_pintura{
  background-image: url(../img/web/portadas/portada_pintura.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}
#portada_fotografia{
  background-image: url(../img/web/portadas/portada_fotografia.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}
#portada_media{
  background-image: url(../img/web/portadas/portada_media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}
#portada_conferencias{
  background-image: url(../img/web/portadas/portada_conferencias.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  width: 100%;
}

